[submodule "ThirdParty/RENT"]
	path = ThirdParty/RENT
	url = git@github.com:alabamagan/RENT.git
[submodule "ThirdParty/mnts"]
	path = ThirdParty/mnts
	url = git@github.com:alabamagan/mri_normalization_tools.git
[submodule "ThirdParty/torchio"]
	path = ThirdParty/torchio
	url = git@github.com:alabamagan/torchio.git
